# Exclude the venv and the toy dataset #
########################################

tensorflow_venv/
toy_dataset/
toy_CNN_data/*
toy_CNN_data/
toy_CNN_data

tmp/*
tmp/
tmp
# file types ignore #
#####################
*.swp
*.pyc


# specific files #
##################
sftp-config.json
MNIST-data
