# Exclude the venv and the toy dataset #
########################################

tensorflow_venv/
toy_dataset/
toy_CNN_data/
tmp*/
data_CNN/
MNIST-data/
# file types ignore #
#####################
*.swp
*.pyc
.ipynb_checkpoints

# specific files #
##################
sftp-config.json
MNIST-data
CNN_code/we-are-finished.txt
